  
  <div class="container-fluid ps-0">
    <app-header></app-header> 
   <!-- <app-productlist></app-productlist> -->
 
 <div >
   <router-outlet></router-outlet>
 </div>
 <app-footer></app-footer>
  </div>
 //////////////////////////////////////////////////////
 <!-- <br>
 <br>
 <br>
 <app-order></app-order>
 <br>
 
 
 
 ////////////////////////////////////////////////////////////////////////
 <br>
 <br>
 <br>
 <app-copunbyservice></app-copunbyservice>
 ////////////////////////////////////////////////////
  -->
 
