

<app-copunbyservice (getlist)="list=$event"></app-copunbyservice>
<button class="btn btn-success" (click)="fun()"> click</button>
 
  <div *ngIf="flak ; then check1; else check2"> </div>
  <ng-template #check1>
<table class="table table-striped" id="mytable">
 
    <thead>
      <tr>
        <th >Id</th>
        <th >Name</th>
        <th >Image</th>
        <th >quantity</th>
        <th >price</th>
        <th >Needquntity</th>
        <th >Buy</th>
        <th >details</th>


      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of list" >
        <th >{{pro.Id}}</th>
        <td>{{pro.name}}</td>
        <td><img [src]="pro.imgurl" alt="imge">></td>
        <td>{{pro.quantity}}</td>
        <td>{{pro.price}}</td>
        <td><input #numpro type="number" class="form-control" ></td>
        <td><button type="button" class="btn btn-primary" >buy</button></td>
        
       
        <!-- <a class="btn btn-primary" [routerLink]="['/serviceorder',pro.Id]" role="button">details</a> -->
      </tr>
     
    </tbody>
  </table> 
  </ng-template>
  
  <ng-template #check2>
    <div>click to show all products</div>
      </ng-template>
  
    